.content-feed {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.titulo {
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.usuario {
    width: 100px;
    display: flex;
    align-items: center;
    margin-left: 17px;
}

.usuario h1 {
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
    cursor: pointer;
}

.usuario img {
    width: 32px;
    cursor: pointer;
}

.titulo ion-icon {
    margin-right: 17px;
}

.img-feed {
    width: 612px;
}
.footer-feed {
    width: 100%;
    padding: 25px 0;
}
.actions {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.main-actions {
    width: 88px;
    margin-left: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-actions a {
    margin-left: 5px;
}

.bookmark {
    margin-right: 18px;
}
.curtidas {
    height: 50%;
    display: flex;
    align-items: center;
    margin-left: 18px;
}

.curtidas img {
    width: 20px;
    cursor: pointer;
}

.curtidas p {
    margin-left: 5px;
}

.descricao-comentarios {
    margin-left: 20px;
    margin-right: 20px;
}

.descricao-publicacao {
    display: flex;
    margin: 20px 0;
}

.descricao-publicacao h1 {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.descricao-publicacao p {
    font-size: 16px;
    margin-left: 10px;
}

.show-comentarios {
    margin-bottom: 20px;
    font-size: 16px;
    color: #8e8e8e;
    cursor: pointer;
}

.send-comentarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send-comentarios ion-icon {
    font-size: 25px;
    cursor: pointer;
}

.send-comentarios input {
    width: 80%;
    border: none;
}

.send-comentarios input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.send-comentarios input::placeholder {
    font-size: 16px;
    font-weight: 500;
}

.send-comentarios h2 {
    font-size: 16px;
    color: #b2dffc;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
}

.send-comentarios h2:hover {
    color: #0095f6;
}

.animar {
    color: transparent;
    font-size: 150px;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    z-index: -1;
    transform: scale(0.2);
}

.animate {
    animation: scale 0.3s forwards;
}

@keyframes scale {
    to {
        z-index: 1;
        color: white;
        transform: scale(1);
    }
}

@media (max-width: 614px) {
    .img-feed {
        width: 100%;
    }
}
