.profile-principal {
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.profile-principal img {
    width: 50px;
    border-radius: 50%;
}

.nome-profile-principal {
    margin-left: 17px;
}

.nome-profile-principal h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    color: #262626;
    cursor: pointer;
}

.nome-profile-principal p {
    font-weight: 300;
    font-size: 14px;
    line-height: 16.41px;
    color: #8e8e8e;
    margin-right: 7px;
}

.nome-profile-principal p ion-icon {
    color: #8e8e8e;
    font-size: 14px;
    cursor: pointer;
}
